SchemaLibLevel2/example-file-level2.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ace.submodule.schemalib.level2/" xmlns:nsTwo="http://ace.submodule.schemalib.level2/">
  <xsd:element name="libTwoExampleOne" type="nsTwo:libTwoExampleOneType"/>
  <xsd:element name="libTwoExampleOneValueOne" type="nsTwo:libTwoExampleOneValueOneType"/>
  <xsd:complexType name="libTwoExampleOneType">
    <xsd:sequence>
      <xsd:element ref="nsTwo:libTwoExampleOneValueOne"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="libTwoExampleOneValueOneType">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
</xsd:schema>
